frontend/node_modules
backend/node_modules

mc-testing-server/**
!mc-testing-server/paper-1.21.4-232.jar
!mc-testing-server/start.sh
!mc-testing-server/start.bat
!mc-testing-server/server.properties
!mc-testing-server/eula.txt
